<div class="modal-header">
    <h4 class="modal-title">{{'lbl-update' |translate}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <div class="form-group" >
      <label>{{'lbl-task-name' |translate}}</label>
      <input type="text" class="form-control" [(ngModel)]="currentTask.name">
    </div>
    <div class="form-group">
      <label>{{'lbl-state' |translate}}</label>
      <ng-select
       bindLabel="name"
      autofocus
      bindValue="id" [items]="TaskStates" [(ngModel)]="currentTask.state"></ng-select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onValidateUpdate()">{{'lbl-to-validate' |translate}}</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">{{'lbl-close' |translate}}</button>
  </div>
  