<div class="container shadow bg-white"> 
    <h2 class="bg-info text-white card p-2 mt-2">ReadMineV2</h2>
    <form [formGroup]="taskForm" (ngSubmit)="submitForm()">
        <label for="taskName">{{'lbl-task-name' |translate}}</label>
        <input formControlName="taskName" name="taskName" class="form-control" type="text">
        <div *ngIf="taskForm.get('taskName')?.invalid && (taskForm.get('taskName')?.dirty || taskForm.get('taskName')?.touched)">
            <small *ngIf="taskForm.get('taskName')?.errors?.['required']" class="text-danger">{{'lbl-task-name-required' |translate}}</small>
        </div>
        <div class="mb-3">
            <label for="dateExpiration" class="form-label">Date d'échéance</label>
            <input type="date" class="form-control" id="dateExpiration" formControlName="dateExpiration" name="dateExpiration" required>
        </div>
        <label for="userName">{{'lbl-assigned-to' |translate}}</label>
        <ng-select
                formControlName="userName"
                name="userName">
            <ng-option *ngFor="let user of listOfUsers" [value]="user._id">{{ user.fullName }}</ng-option>
        </ng-select>
        <div *ngIf="taskForm.get('userName')?.invalid && (taskForm.get('userName')?.dirty || taskForm.get('userName')?.touched)">
            <small *ngIf="taskForm.get('userName')?.errors?.['required']" class="text-danger">{{'lbl-username-required' |translate}}</small>
        </div>
        <label for="project">{{'lbl-project' |translate}}</label>
        <ng-select
                formControlName="project"
                name="project">
            <ng-option *ngFor="let proj of listOfProjects" [value]="proj">{{ proj.title }}</ng-option>
        </ng-select>
        <div *ngIf="taskForm.get('project')?.invalid && (taskForm.get('project')?.dirty || taskForm.get('project')?.touched)">
            <small *ngIf="taskForm.get('project')?.errors?.['required']" class="text-danger">{{'lbl-project-required' |translate}}</small>
        </div>
        <label for="project">Tags</label>
        <ng-select
                placeholder="Select Tags"
                [multiple]="true"
                formControlName="tags"
                name="tags">
            <ng-option *ngFor="let tag of listOfTags" [value]="tag">{{ tag.name }}</ng-option>
        </ng-select>
        <label for="project">Tasks</label>
        <ng-select
                placeholder="Select sub-tasks"
                [multiple]="true"
                formControlName="subTasks"
                name="subTasks">
            <ng-option *ngFor="let task of listOfTask" [value]="task">{{ task.name }}</ng-option>
        </ng-select>
        <div *ngIf="taskForm.get('tags')?.invalid && (taskForm.get('tags')?.dirty || taskForm.get('tags')?.touched)">
            <small *ngIf="taskForm.get('tags')?.errors?.['required']" class="text-danger">{{'lbl-tags-required' |translate}}</small>
        </div>
        <button class="btn btn-primary mt-3" type="submit" [disabled]="taskForm.invalid">{{'lbl-add' |translate}}</button>
    </form>

    <div class="mt-3 mb-2">
        <button type="button" class="btn btn-secondary ms-2" (click)="filterTask('In Progress')">
            {{'lbl-in-progress' |translate}}
          </button>

          <button type="button" class="btn btn-success ms-2" (click)="filterTask('Completed')">
            {{'lbl-completed' |translate}}
          </button>

          <button type="button" class="btn btn-primary ms-2" (click)="filterTask('All')">
            {{'lbl-all' |translate}}
          </button>
    </div>

    <div class="mt-3 mb-2">
        <label>Filtre sur les projets</label>
        <button *ngFor="let project of listOfProjects" type="button" class="btn btn-secondary ms-2" (click)="filterTaskByProject(project)">
            {{ project.title }}
        </button>
    </div>

    <div class="mt-3 mb-2">
        <label>Filtre sur les tags</label>
        <button *ngFor="let tag of listOfTags" type="button" class="btn btn-secondary ms-2" (click)="filterTaskByTag(tag)">
            {{ tag.name }}
        </button>
    </div>

    <div class="task-container mt-3 card shadow bg-light mb-4 p-2" *ngFor="let task of listOfTask; index as i">
        <div class="form-check d-inline-flex justify-content-between">
            <input type="checkbox" class="form-check-input"
                id="checkbox-{{i}}" 
                [checked]="!isProgress(task)"
                (change)="onChangeStateTask(task)"
            >
            <label class="form-check-label fs-5" for="checkbox-{{i}}" [ngClass]="{'text-decoration-line-through': !isProgress(task)}">
                {{ task | taskDetails | async }}
            </label>
            <div class="">
                <button class="btn btn-outline-primary m-1" (click)="openModal(task)">
                    <fa-icon icon="pen-to-square"></fa-icon>
                </button>
                <button class="btn btn-outline-danger m-1" (click)="onDeleteTask(task)">
                    <fa-icon icon="delete-left"></fa-icon>
                </button>
            <div>
        </div>
    </div>
</div>